<mat-card>
  <mat-card-header>
    <mat-card-title>
      <span *ngIf="selectedCourse; else elseBlock">
        {{ originalTitle | titlecase }}
      </span>
      <ng-template #elseBlock>Select a Course</ng-template>
    </mat-card-title>
  </mat-card-header>
  <span></span>
  <form #form="ngForm" (submit)="saveCourse(selectedCourse)">
    <mat-card-content>
      <mat-form-field class="full-width">
        <input
          type="text"
          placeholder="Title"
          matInput
          [(ngModel)]="selectedCourse.title"
          name="title"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <input
          type="text"
          placeholder="description"
          matInput
          [(ngModel)]="selectedCourse.description"
          name="description"
          required
        />
      </mat-form-field>
      <section class="full-width">
        <h4>{{ selectedCourse.percentComplete }}% Complete</h4>
        <mat-slider
          class="full-width"
          min="0"
          max="100"
          thumbLabel
          [(ngModel)]="selectedCourse.percentComplete"
          name="percentComplete"
        >
          <input matSliderThumb />
        </mat-slider>
      </section>
      <mat-checkbox [(ngModel)]="selectedCourse.favorite" name="favorite">
        Favorite
      </mat-checkbox>
    </mat-card-content>
    <mat-card-actions>
      <button
        type="submit"
        mat-button
        [disabled]="form.invalid"
        color="primary"
      >
        Save
      </button>
      <button type="button" mat-button (click)="reset()">Cancel</button>
    </mat-card-actions>
  </form>
  <hr />
  <pre>{{ form.value | json }}</pre>
  <pre>{{ form.valid | json }}</pre>
</mat-card>
