<mat-card *ngIf="isAuthenticated">
  <mat-card-header>
    <mat-card-title> Course Outline </mat-card-title>
  </mat-card-header>
  <mat-card-content >
    <!-- LESSON LIST -->
    <mat-list>
        <mat-list-item *ngFor="let lesson of lessons$ | async" (click)="selectCourseLesson(lesson)">
            <h3 matLine>{{lesson.title}}</h3>
        </mat-list-item>
    </mat-list>
    <hr>
    <p *ngIf="selectedCourseLesson">{{selectedCourseLesson | json }}</p>
  </mat-card-content>
  <mat-card-content >
  </mat-card-content>
</mat-card>
<mat-card *ngIf="!isAuthenticated">
    <mat-card-header>
        <mat-card-title>{{"welcome to our website" | titlecase}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <app-login></app-login>
    </mat-card-content>
</mat-card>
<h1> </h1>
